<!DOCTYPE html>
<body onload="events.currentday.js">
<h1>Events</h1>

<p>List of special events</p>
<ul>
    <li>

        <div class="events-left">
            <div>
                Event 1
            </div>

            <div>
                6:00pm - 8:00pm
            </div>

        </div>


        <div class="events-right">
            12/1/16
        </div>

<!--         <div>
        Event 1
        <span>10/4/16</span>
        </div>
        <div>
            6:00pm - 8:00pm
        </div>  -->
    </li>

    <li>
        <div class="events-left">
            <div>
                Event 2
            </div>

            <div>
                6:00pm - 8:00pm
            </div>

        </div>


        <div class="events-right">
            11/22/16
        </div>
    </li>

    <li>
        <div class="events-left">
            <div>
                Event 3
            </div>

            <div>
                6:00pm - 8:00pm
            </div>

        </div>


        <div class="events-right">
            11/23/16
        </div>

    </li>

    <li>
        <div class="events-left">
            <div>
                Event 4
            </div>

            <div>
                6:00pm - 8:00pm
            </div>

        </div>


        <div class="events-right">
            10/25/16
        </div>

    </li>

    <li>
        <div class="events-left">
            <div>
                Event 5
            </div>

            <div>
                6:00pm - 8:00pm
            </div>

        </div>


        <div class="events-right">
            10/25/16
        </div>

    </li>
</ul>
<!-- <script src="events.currentday.js"></script> -->
</body>