<h1>Statistics</h1>

<p>Few dropdowns for options and a graph</p>

<div class="btn-container">

	<div class="primary-btn-container">
<!-- 		<select>
			<option *ngFor="let area of statsAreas">{{area}}</option>
		</select> -->
		<select [ngModel]="selectedDevice" (ngModelChange)="onChange($event)" name="sel2">
    		<option [value]="i" *ngFor="let i of statsAreas">{{i}}</option>
		</select>
	</div>

	<div class="secondary-btn-container">
		<select [ngModel]="selectedRange" (ngModelChange)="chartOnChange($event, 'Range')">
			<option *ngFor="let range of statsRange">{{range}}</option>
		</select>
		<select [ngModel]="selectedDays" (ngModelChange)="chartOnChange($event, 'Days')">
			<option *ngFor="let day of statsDays">{{day}}</option>
		</select>
		<select [ngModel]="selectedTimes" (ngModelChange)="chartOnChange($event, 'Times')">
			<option *ngFor="let time of statsTimes">{{time}}</option>
		</select>
	</div>
</div>

<div class="stats-chart">
	<canvas id="myChart"></canvas>
</div>

<div class="stats-chart">
	<canvas id="myChart2"></canvas>
</div>