<h1>Statistics</h1>

<p>Few dropdowns for options and a graph</p>

<div class="btn-container">

	<div class="primary-btn-container">
<!-- 		<select>
			<option *ngFor="let area of statsAreas">{{area}}</option>
		</select> -->
		<select [ngModel]="selectedDevice" 
		(ngModelChange)="chartOnChange($event, 'Device')" 
		name="sel2">
    		<option [value]="i" *ngFor="let i of statsAreas">{{i}}</option>
		</select>
	</div>

<!-- 	<div class="secondary-btn-container">
		<select [ngModel]="selectedRange" (ngModelChange)="chartOnChange($event, 'Range')">
			<option *ngFor="let range of statsRange">{{range}}</option>
		</select>
		<select [ngModel]="selectedDays" (ngModelChange)="chartOnChange($event, 'Days')">
			<option *ngFor="let day of statsDays">{{day}}</option>
		</select>
		<select [ngModel]="selectedTimes" (ngModelChange)="chartOnChange($event, 'Times')">
			<option *ngFor="let time of statsTimes">{{time}}</option>
		</select>
	</div> -->

	<div class="secondary-btn-container">
		<div class="form-group">
		    <label for="options">Range:</label>
			<form action="">
				<div *ngFor="let range of statsRange" >
			        <label>

				    	<input type="radio" 
				    	name="{{range}}" 
				    	value="{{range}}"
				    	[(ngModel)]="selectedRange" 
				    	(ngModelChange)="chartOnChange($event, 'Range')" /> {{range}}
		        	</label>

				</div>
			</form>
		</div>
		<div *ngIf="selectedRange != 'Today'" class="form-group">
		    <label for="options">Days: {{selectedDay}}</label>
		    <div *ngFor="let day of statsDaysKeys">
		        <label>
		            <input type="checkbox"
		                   name="{{day}}"
		                   value="{{statsDays[day]}}"
		                   [(ngModel)]="statsDays[day]"
		                   (ngModelChange)="chartOnChange($event, 'Days')"/> {{day}}

		        </label>
		    </div>
		</div>
		<div class="form-group">
		    <label for="options">Time Period: {{buildTool}}</label>
			<form action="">
				<div *ngFor="let time of statsTimes" >
		        	<label>

				    	<input type="radio" 
				    	name="{{time}}" 
				    	value="{{time}}"
				    	[(ngModel)]="selectedTimes" 
				    	(ngModelChange)="chartOnChange($event, 'Times')"/> {{time}}
		        	</label>

				</div>
			</form>
		</div>
	</div>

</div>

<div class="stats-chart">
	<canvas id="myChart"></canvas>
</div>

<div class="stats-chart">
	<canvas id="myChart2"></canvas>
</div>