<h1>Statistics</h1>

<p>Few dropdowns for options and a graph</p>

<div class="btn-container">

	<div class="primary-btn-container">
		<select [ngModel]="selectedArea" 
		(ngModelChange)="chartOnChange($event, 'Area')" 
		name="sel2">
    		<option [value]="i" *ngFor="let i of statsAreas">{{i}}</option>
		</select>
	</div>

	<div class="secondary-btn-container">
		
		<div class="form-group">
		    <label for="options">Range: {{selectedRange}}</label>
			<form action="">
				<div *ngFor="let range of statsRanges" >
			        <label>
				    	<input type="radio" 
				    	name="{{range}}" 
				    	value="{{range}}"
				    	[(ngModel)]="selectedRange" 
				    	(ngModelChange)="chartOnChange($event, 'Range')" /> {{range}}
		        	</label>
				</div>
			</form>
		</div>

		<div *ngIf="selectedRange != 'Today'" class="form-group">
		    <label for="options">Days: {{selectedDay}}</label>
		    <form action="">
			    <div *ngFor="let day of statsDays">
			        <label>
			            <input type="radio"
			                   name="{{day}}"
			                   value="{{day}}"
			                   [(ngModel)]="selectedDay"
			                   (ngModelChange)="chartOnChange($event, 'Day')"/> {{day}}
			        </label>
			    </div>
		    </form>
		</div>

		<div class="form-group">
		    <label for="options">Time Period: {{selectedTime}}</label>
			<form action="">
				<div *ngFor="let time of statsTimes" >
		        	<label>
				    	<input type="radio" 
				    	name="{{time}}" 
				    	value="{{time}}"
				    	[(ngModel)]="selectedTime" 
				    	(ngModelChange)="chartOnChange($event, 'Time')"/> {{time}}
		        	</label>
				</div>
			</form>
		</div>

	</div>

</div>

<div class="stats-chart">
	<canvas id="myChart"></canvas>
</div>