<div class="container" id="container">
	<h1>Total Occupancy</h1>
	<p>
	  {{totalOccupancy}}
	</p>
	<h4>
		Last Updated: 
    <div>
    <span>{{lastUpdatedDays}} days</span>
    <span>{{lastUpdatedHours}} hours</span>
    <span>{{lastUpdatedMinutes}} minutes</span>
    </div>
	</h4>
    <div class="breakdown" id="breakdown">
      <button type="button" class="btn btn-primary"
        (click)="scrollDown()">Breakdown
      </button>
      <div class="el" style="display: none" id="el">
        <div *ngFor="let area of breakdownAreas;let i = index" class="breakdown-block" [ngStyle]="{'border-top' : i == 0 || i == 1 ? '1px solid lightgrey' : 'none'}">

          <!--display for CRC area names-->
          <div class="block-title">
              {{area}}
              <p>
                  <!-- Last updated: -->
              </p>
          </div>

          <!--display for CRC area occupancy-->
          <div class="block-update">
            {{predNowJson[area]}} / {{maxJson[area][1]}}
          </div>

          <!--display for CRC area bars-->
<!--           <div class="block-pcnt">

          </div> -->
        </div>
      </div>
    </div>
</div>