:host {
  display: block;
  padding: 0 16px;
}

input {
  width: 250px;
}

h1 {
    font-size: 34px;
    text-align: center;
    margin: 0 0 15px 0;
}

h4 {
	text-align: center;
	font-weight: normal;
}


p{
	font-size: 30px;
	text-align: center;
	margin:0;
	margin-bottom: 30px;
}

.container{
	height: 50%;
  margin-top: 100px;
  max-width: 500px;
  float: left;
  width: 100%;
}

.breakdown {
  margin-top: 100px;
  text-align: center;
  position: absolute;
  bottom: 30px;
  left:0;
  width: 100%;
  max-width: 500px;
  height: 40px;

}

.breakdown button {
  width: 90%;
  margin-bottom: 20px;
}



.block {
  overflow: hidden;
  -webkit-transition: height .25s;
  transition: height .25s;
}

.breakdown-block{
  width: 50%;
  height:100px;
  position: relative;
  float:left;
  border-bottom: 1px solid lightgrey;
  border-right: 1px solid lightgrey;
  padding-bottom: 50%;
}

.breakdown-block-container{
  margin-top: 20px;
}