<div class="container">
	<h1>Total Occupancy</h1>
	<p>
	  174
	</p>
	<h4>
		Last Updated:
	</h4>

    <div class="breakdown">
        <button type="button" class="btn btn-primary"
          (click)="height = height ? 0 : el.scrollHeight">Breakdown
        </button>

        <div
          class="card card-block card-header block" [style.height]="height + 'px'" #el>
          <div class="well well-lg">
            <div *ngFor="let area of breakdownAreas;let i = index" class="breakdown-block" [ngStyle]="{'border-top' : i == 0 || i == 1 ? '1px solid lightgrey' : 'none'}">
                {{area}}
            </div>
          </div>
        </div>
    </div>
</div>

<!--comment>
<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<-->
