<div class="container" id="container">
	<h1>Total Occupancy</h1>
	<p>
	  174
	</p>
	<h4>
		Last Updated:
	</h4>

    <div class="breakdown" id="breakdown">
      <button type="button" class="btn btn-primary"
        (click)="scrollDown()">Breakdown
      </button>
      <div class="el" style="display: none" id="el">
        <div *ngFor="let area of breakdownAreas;let i = index" class="breakdown-block" [ngStyle]="{'border-top' : i == 0 || i == 1 ? '1px solid lightgrey' : 'none'}">
            {{area}}
        </div>
      </div>
    </div>
</div>

<!--comment>
<form (submit)="addName()">
  <input [(ngModel)]="newName" name="newName" placeholder="Awesome Computer Scientist">
  <button type="submit">Add</button>
</form>

<ul>
  <li *ngFor="let name of names">{{name}}</li>
</ul>
<-->
