<p>
  CRC Tracker was developed for Georgia Tech's Campus Recreation Center
</p>

<div class="CRC">
    <h2>Campus Recreation Center</h2>
    <ul>
        <li>750 Ferst Dr. Atlanta, GA 30332</li>
        <li>404-385-7529</li>
        <li>marketing@crc.gatech.edu</li>
    </ul>
</div>

<div class="GT">
    <h2>Georgia Institute of Technology</h2>
    <ul>
        <li>North Avenue, Atlanta, GA 30332</li>
        <li>404-894-2000</li>
    </ul>
</div>

<div class="contributors">
    <h2>Contributors</h2>
    <ul>
        <li>Nimish Todi</li>
        <li>Stephen Dao</li>
        <li>Jack Li</li>
        <li>Royce Kim</li>
        <li>Tyler Abney</li>
    </ul>
</div>