<nav>
	<div class="route-container" >

		<!-- home page -->
 	    <a [routerLink]="['/']" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
	    	<div class="img-container">
	    		<div class="icon-img icon-home" title="Home"></div>
	    	</div>

	    </a>

	    <!-- other pages -->
		<div *ngFor="let item of navItems">
		    <a [routerLink]=" '/' + item" [routerLinkActive]="['router-link-active']" [routerLinkActiveOptions]="{exact:true}">
		    	<div class="img-container">
					<div class="icon-img icon-{{item}}" title="{{item}}"></div>
				</div>
	    	</a>
		</div>

    </div>
</nav>
