:host {
  border-color: #e1e1e1;
  border-style: solid;
  border-width: 0 0 2px;
  display: block;
  height: 48px;
}

nav a {
  color: #8f8f8f;
  font-size: 14px;
  font-weight: 500;
  /*line-height: 48px;*/
  /*margin-right: 20px;*/
  text-decoration: none;
  vertical-align: middle;
}

nav a.router-link-active {
  color: #106cc8;
}

.route-container {
  max-width: 500px;
}

.icon-home {
  background: url("./assets/icons/icon_home.png");

}
.icon-Events {
  background: url("./assets/icons/icon_events.png");
}

.icon-Stats {
  background: url("./assets/icons/icon_stats.png");

}
.icon-Contacts {
  background: url("./assets/icons/icon_contacts.png");
}
.img-container {
    height: 48px;
    width: 25%;
    float: left;
    position: relative;
}

.icon-img {
  height: 40px;
  width: 40px;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
}

.active {
  border-bottom: 2px solid #6cacd6;
}